/*===============================================*/
/*              TOPIC Styling File               */
/*===============================================*/
/*This styling file applies specifically to every
TOPIC page. */



.jumbotron {
    position          : relative;
    margin-bottom     : 0px;
}
.header-topic-index {
    background-color: rgb(240, 240, 240);
    text-align      : center;
    padding-top     : 85px;
}
.header-topic-index h2 {
    padding-top: 50px;
}
.header-topic-index .topic-img {
    width           : 20%;
    height          : 20%;
}
.topic-logo {
    width           : 250px;
    height          : 250px;
    border-radius   : 100%;
    border          : 1px solid black;
    text-align      : center;
    vertical-align  : center;
    color           : rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    box-shadow      : 10px 10px 10px 0 rgba(0, 0, 0, 0.2), 
                     -10px -10px 10px 0 rgba(0, 0, 0, 0.20);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function        : ease-in;
    transition-delay                  : 0.0s;
    transition                        : 0.2s width, 0.2s height, 0.2s margin-bottom, 0.2s box-shadow;
}
.topic-logo:hover {
    box-shadow      : 3px 3px 5px 0 rgba(0, 0, 0, 0.2), 
                     -3px -3px 5px 0 rgba(0, 0, 0, 0.20);
    width           : 243px;
    height          : 243px;
    margin-bottom   : 7px;
}
.topic-logo-img {
    width           : 40%;
    padding-bottom  : 15px;
    /*height        : 80&;*/
}
.header-topic-index hr {
    height          : 1px;
    border          : 0;
    border-top      : 2px solid black;
    margin          : 30px 7% 0px 7%;
}






.topic-index {
    background-color: rgb(240, 240, 240);
    text-align      : center;
}
.panel-title {
    display         : block;
    text-align      : left;
}
.topic-description {
    padding-top     : 1.5%;
    vertical-align  : middle;
    text-align      : justify;
    text-justify    : block;
    font-family     : "verdana";
    font-size       : 14pt;
    line-height     : 30px;
}
.topic-index-header {
    padding-top     : 20px;
    padding-bottom  : 10px;
}
.panel > .panel-heading {
    background-image: none;
    background-color: rgb(240, 240, 240);
    color           : rgb(50, 50, 50);
}

.panel-body {
    background-color: rgb(220, 220, 220);
    text-align      : left;
}


